<mat-card>
    <div style="padding-left: 200px;">
        
        <h2>{{product.name}}</h2>
        <img  [src]="product.img" width="200px" height="200px">
        <h2>Product Detail</h2>
        <p>{{product.description}}</p>
        <h2>Price: {{product.price | currency: 'PYG '}}</h2>
        <button mat-button (click)="addToCart()">Add to cart</button>
    </div>
</mat-card> 

<mat-card style="padding: 100px;">
    <div>
        <h1>More Products</h1>
        <p>{{moreProducts}}</p>
    </div>
</mat-card>